.button_right_go_go{
    float: right;
}
#article{
    padding-left: 25px;
}
#grid{
    display:grid;
    grid-template-columns: 150px 1fr;
}
#active{
    font-weight: bold;
}
body{
    margin:0px;
}
h1{
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;
}
#grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
}
a{
    text-decoration: none;;
}
@media(max-width:800px){
    #grid{
        display: block;
    }
    #grid ol{
        border-right:none;
    }
    h1{
        border-bottom:none;
    }
}